:root {
  --white: rgb(255, 255, 255);
  --yelow: rgb(251, 215, 15);
  --orange: rgb(248, 115, 59);
  --dark-color: rgba(16, 26, 16);
  --purple: rgb(99, 7, 224);
  --pink: rgb(228, 13, 218);
  --dark-blue: rgb(12, 7, 86);
}
